.header {
	display: flex;
	align-items: center;
	padding: 1.5rem;
	gap: 1rem;
	height: 100%;
	background-color: #fff;
	border-bottom: 1px solid #e5e7eb;
	// border-bottom: 1px solid #c0c1c2;

	.user {
		display: flex;
		align-items: center;
		gap: 1rem;
		margin-left: auto;

		.link {
			display: flex;
			align-items: center;
			gap: 1rem;

			p {
				display: none;
				color: #64748b;
				font-size: 1.1rem;
				font-weight: 500;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			@media (min-width: 700px) {
				p {
					display: block;
				}
			}

			img {
				border-radius: 50%;
			}
		}
	}
}
