.logo {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	cursor: pointer;
	max-width: 3rem;

	&:hover {
		opacity: 0.75;
	}

	div {
		font-size: 1.5rem;
		font-weight: bold;
		color: #2563eb;
	}
}
