.header {
	padding: 1.25rem;
	display: flex;
	align-items: center;
	height: 100%;
	background-color: #fff;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	gap: 1rem;

	> div {
		display: none;
		
		@media (min-width: 1300px) {
			display: flex;
		}
	}
	.mobileMenu{
		display: flex;

		@media (min-width: 1300px) {
			display: none;
		}
	}
	.search {
		margin-left: auto;
		display: block;
		width: 100%;

		@media (min-width: 1300px) {
			display: block;
			width: 40%;
		}
	}
}
